<div *ngIf="emp" class="ui-g-12">
  <div class="ui-g-9">
  <p-table [value]="emp">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" style="width:20px;height:50px">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-employee
                 let-details="rowData"
                 let-i="rowIndex">
      <tr [ngClass]="['one']">
        <td *ngFor="let col of cols" 
            let
            i='index'
            (click)="data(i)" style="width:20%;height:30%">
          <span *ngIf="col.field==='skills'">
             <div class="ui-g">
    <div class="ui-g-12 ui-md-8">
        <p-scrollPanel [style]="{width: '80%', height: '80px'}">
             <textarea class="text" rows="15" cols="10" placeholder="Type Here" name="caddress">{{employee[col.field]}}</textarea><br>
            
        </p-scrollPanel>
    </div>

 
</div>
          </span>
          <span *ngIf="col.field!=='skills'">{{employee[col.field]}}</span>

          <span *ngIf="col.field==='details'"
                style="width:50%;height:20%">

          <button pButton (click)="show(i)" class="">Edit</button>
          </span>
         
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>
</div>
<app-details></app-details>